src/main/mule/demo-jenkins-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bdd21db4-d9d9-46cd-92b6-99d1317d118d" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b5940c69-7920-4b9e-835e-d5c201be9615" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80"/>
	</http:request-config>
	<flow name="demo-jenkins-pocFlow" doc:id="63a95efb-1b57-42bd-aba8-529f98dfa053" >
		<http:listener doc:name="Listener" doc:id="b0699588-abcc-435f-9b84-ad1260ab1d9d" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="519caf99-1d5e-4990-b591-9810dd7fc5d7" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" :   attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
